extends ../layouts/page.pug
block content

  form.container.small(action="/sign-in")

    h1 Sign Up

    input(name="csrf_token", value=csrf_token, type="hidden")

    div.field-wrapper.full
      label(for="email") Email
      input(value="" type="email" name="email")

    div.field-wrapper.full
      label(for="password") Password 
      input(value="" type="password" name="password")

    input(value="Go" type="submit")
