div.nav.third
  h4 Top
  a(href=site_root) Home 
  a(href=site_root + "/about") About 

div.nav.third
  h4 Contact 
  a(href=site_root + "/careers") Careers
  a(href=site_root + "/investors") Invest 

div.nav.third
  h4 Technical 
  a(href=site_root + "/help") Help
  a(href=site_root + "/terms") Terms 
  a(href=site_root + "/privacy") Privacy 
