
//- Meta 

- page_title = page_title ? " | " + page_title : "";

title=site_title + page_title

meta(charset="utf-8")
meta(name="keywords", content="financial,self-help,money,side-income,orlando,fl,earn,thousand")
meta(name="viewport", content="width=device-width,initial-scale=1")

- var robots = robots || {follow: "follow", index: "index"};
meta(name="robots", content=[robots.follow, robots.index].join(','))

- var description = description || "Earning your first thousand dollars at anything has never been simpler.";
meta(name="description", content=description)

//- Style
link(rel="icon", type="image/ico", href="/favicon.ico")
link(rel="stylesheet", type="text/css", href="/style/lib/skeleton/normalize.css")
link(rel="stylesheet", type="text/css", href="/style/lib/skeleton/skeleton.css")
link(rel="stylesheet", type="text/css", href="/style/css/main.css")

//- Scripts 

- current_user = current_user || {};
- user_permissions  = current_user.permissions || {};

//- js setup and client side functions
script
  |
  |window.app = window.app || {};
  |
  |(function () {
  |  app.site_root  = function () { return "#{site_root}"; };
  |  app.site_title = function () { return "#{site_title}"; };
  |  app.csrf_token = function () { return "#{csrf_token}"; };
  |})();

script(src="/js/lib/jquery/jquery-3.2.0.js")
script(src="/js/lib/momentjs/moment.min.js")
script(src="/js/dist/bundle.js")

