div.top.nav

  a(href=site_root) / 

  a(href=site_root + '/about') About

  //- if user logged in
  if current_user.id
    a(href=site_root + "/account") Account
    a(href=site_root + "/sign-out/" + csrf_token) Sign Out 


  //- user not logged in
  else
    a(href=site_root + "/sign-up") Sign Up 
    a(href=site_root + "/sign-in") Sign In 


//- flash message
if flash_msg != null
  div(class="flash " + flash_msg.type)
    | #{flash_msg.text}
