doctype html
html
  head
    include mixins/paginator.pug
    include regions/head.pug
  body
    div#header
      include regions/header.pug
    div#content
      block content  
    div#footer
      include regions/footer.pug
