extends ../layouts/page.pug

block content
  <form class="user delete" action="/user" method="DELETE">

    <h2>Delete Account</h2>

    <input type="hidden" name="id" value=""/>

    <input type="submit" value="Go"/>

  </form>
