extends ../layouts/page.pug

block content
  <form class="user edit" action="/user" method="PUT">

    <h2>Sign Up</h2>

    <label for="username">User Name</label>
    <input type="text" name="username" value="" placeholder="username>"/>

    <label for="email">E-Mail</label>
    <input type="email" name="email" value="" placeholder="email>"/>

    <input type="submit" value="Go"/>

    <p>
      <a href="/password-reset">Need to reset your password?</a>
    </p>

  </form>
