extends ../layouts/page.pug

block content
  <form data-controller="user-form" class="user login" action="/login" method="POST">

    <h2>Sign In</h2>

    <label for="credentials">Credentials</label>
    <input type="text" name="credentials" value="" placeholder="username or e-mail"/>

    <label for="password">Password</label>
    <input type="password" name="password" value="" placeholder="password"/>

    <input type="submit" value="Go"/>

  </form>
