extends ../layouts/page.pug

block content
  <form data-controller="user-form" class="user new" action="/user" method="POST">

    <h2>Sign Up</h2>

    <label for="username">User Name</label>
    <input type="text" name="username" value="" placeholder="username"/>

    <label for="email">E-Mail</label>
    <input type="email" name="email" value="" placeholder="email"/>

    <label for="password">Password</label>
    <input type="password" name="password" value="" placeholder="password"/>

    <label for="confirm">Confirm Password</label>
    <input type="password" value="" placeholder="confirm password"/>

    <input type="submit" value="Go"/>

  </form>
