extends ../layouts/page.pug

block content
  <form class="user settings update" action="/user/settings" method="POST">

    <h2>Settings</h2>

    <label for="password">Password</label>
    <input type="password" name="password" value="" placeholder="password>"/>

    <label for="confirm">Confirm Password</label>
    <input type="password" name="password" value="" placeholder="confirm password>"/>

    <input type="submit" value="Go"/>

  </form>
