form {
  max-width: 500px;
  margin: 10px auto;
  position:relative;
}

input:disabled, select:disabled, textarea:disabled {
  color: @color-6;
}

label {
  display: block;
  color: @color-3;
  margin-top: 15px;
  margin-bottom: 5px;
}

label, legend {
  font-weight: 400;
}

label.inline {
  vertical-align: top;
}

.required:after {
  content: "*";
  display: inline-block;
  position: relative;
  top: 5px;
  margin-left: 5px;
  vertical-align: middle;
  color: @color-3;
  font-size: 1.5em;
}

input[type=text], input[type=password], input[type=email], textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 500px;
  margin: 15px auto;
  padding: 10px 0;
  text-indent: .5em;
  border: 1px solid @color-6;
  font-size: 18px;
  height: 5rem;
}

textarea {
  padding: 10px 5px;
}

input:invalid {
  border: 1px solid @err-color;
  box-shadow: none;
}

textarea {
  min-height: 200px;
  resize: none;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  font-size: 1.1em;
  height: 2.5em;
  border: 1px solid @color-6;
  min-width: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: none;
  color: @color-2;
  background-color: @color-7;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  background-color: @color-5;
  cursor: pointer;
}

.button.slim {
  min-height: 2.5em;
}

.button:hover, button:hover, input[type="submit"]:hover,
input[type="reset"]:hover, input[type="button"]:hover, .button:focus,
button:focus, input[type="submit"]:focus, input[type="reset"]:focus,
input[type="button"]:focus {
  color: @color-7;
}

form.left-justified input[type=submit],
form.left-justified .button {
  display: inline-block;
  margin-bottom: 15px;
}


select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid @color-6;
  font-size: 18px;
  padding: 10px 60px 10px 20px;
  margin: 10px 0 20px;
  background-position: 90%  15px;
  background-image: url('/style/icons/select.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 5rem;
}

select:disabled {
  background-image: none;
}

select:disabled:hover {
  cursor: inherit;
}

select:hover {
  cursor: pointer;
}

p.form-prompt {
  font-size: .8em;
}


@media screen and (max-width: @med-width) {

  .button {
    font-size: .7em;
  }

}
