/**** GLOBALS ****/
html {
  min-height: 100%;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1.6;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: @color-2;
  padding: 0;
  margin: 0 0 calc(@footer-height + 6em) 0;
}

a, a:link, a:active, a:visited{
  color: @color-2;
  text-decoration: none;
  .trans-color;
}

a:hover {
  color: @color-5;
  cursor: pointer;
}

p {
  text-align  : justify;
  text-indent :.5em;
}

h1 {
  color: @color-1;
}

h2, h3, h4, h5, h6 {
  color: @color-3;
  margin: 10px 0;
  padding: 0;
}

h4, h5, h6 {
  font-weight: 400;
}

/* if we want to indent ul, we will*/
ul {
  padding: 10px 10px 10px 20px;
  margin: 0;
}
