@import url('variables.less');

/**** MIXINS ****/

/** Transitions **/
/* research shows that shorter transition times improve 'responsive' feel */
@short-trans: .2s;
@long-trans : .5s;

/* polyfill vendor prefix */
.trans(...) {
  -webkit-transition: @arguments;
  -moz-transition   : @arguments;
  -o-transition     : @arguments;
  transition        : @arguments;
}

/** Common Transitions **/

/* fun fact: shorter transitions create the perception of "quicker response" */
.trans-color {
  .trans(color @short-trans;);
}

.trans-background-color {
  .trans(background-color @short-trans;);
}

.trans-font-size {
  .trans(font-size @short-trans;);
}

.trans-position {
  .trans(left @long-trans, right @long-trans, top @long-trans, bottom @long-trans;);
}

.trans-height {
  .trans(max-height @long-trans;);
}

.fly-in {
  .trans(top @long-trans, opacity @short-trans;);
}

/** special effects **/
@keyframes glowing-color {
  0%   { color: @color-3; }
  40%  { color: @color-7; }
  60%  { color: @color-7; }
  100% { color: @color-3; }
}

.glow-text {
  .trans-color;
  -webkit-animation: glowing-color 5000ms infinite;
  -moz-animation: glowing-color 5000ms infinite;
  animation: glowing-color 5000ms infinite;
}


/** Common UI Components **/
a.button {
  color: @color-1;
  .trans(background-color @short-trans, color @short-trans, font-size @short-trans;);
}

.button {
  border: none;
  background-color: @color-3;
  padding: 10px 15px;
  color: @color-1;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
  margin: 10px 0 20px;
  min-height: 3em;
  .trans(background-color @short-trans, color @short-trans, font-size @short-trans;);
}

.text-button {
  .trans(color @short-trans, font-size @short-trans;);
  color: @color-2; 
  display: inline-block;
  vertical-align: middle;
  margin: 0 .5em;
}

.text-button:hover {
  color: @color-6;
  cursor: pointer;
}

.button-thick {
  .button;
  display: inline-block;
  padding: 20px;
}

.button.slim {
  .button;
  display: inline-block;
  font-size: 14px;
  margin: 5px 0;
  padding: 0 10px;
  vertical-align: middle;
}

div.button:hover, div.button-thick:hover, div.button.slim:hover {
  color: @color-1;
  background-color: @color-4;
  cursor: pointer;
}

/** Utilities **/

.circle {
  border-radius: 200px;
}

/* the following can be mixed in, or used normally */
.pre {
  white-space: pre;
}

.nowrap {
  white-space: nowrap;
}

.clearfix { 
  clear: both;
}

/* the ever absent float:middle */
.float-middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* normally only applied to make inline-block */
.inline {
  display: inline-block
}

.center {
  text-align: center;
}

.warning, .error {
  color: @err-color;
}

.warning a, .error a, 
.warning a:active, .error a:active, 
.warning a:visited, .error a:visited, 
.warning a:link, .error a:link {
  color: @err-color;
  text-decoration: underline;
  font-weight: 600;
}

.warning a:hover, .error a:hover {
  font-weight: 400;
}

.small {
  max-width: @small-width;
}

.med {
  max-width: @med-width;
}

.large {
  max-width: @large-width;
}

.full, .half, .third, .fourth {
  padding: 0 1%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1em;
}

.full {
  width: 98%;
}

.half {
  width: 48%;
}

.third {
  width: 31%;
}

.fourth {
  width: 23%;
}

@media screen and (max-width : @med-width) {

  .third, .half {
    width: 98%;
  }

  /* assumes a fourth will work for half in mobile */
  /* override rule to fit special cases*/
  .fourth {
    width: 48%;
  }

}

