/**** REGIONS ****/

/** Top Level Regions **/
#header {
  width: 100%;
  padding: 2em 0; 
  color: @color-1;
}

#header .nav {
  margin: 1em auto;
  padding: 0 1em;
  max-width: @small-width;
  font-size: 1.3em;
  text-align: center;
}

/* social media links */
.nav.social-media a img{
  max-width: 32px;
}

#main {
  padding: 25px;
  max-width: 1100px;
  margin: 100px auto;
}

#footer {
  width: 100%;
  padding: 3em 0; 
  margin: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-color: @color-1;
  color: @color-7;
  text-align: center;
  height: @footer-height;
  font-size: .7em;
}

#footer a {
  color: @color-7;
}

#footer a:hover {
  color: @color-5;
}

#footer > ul.menu {
  display: inline-block;
  margin: 0 10px 0;
  min-width: 80px;
  text-align: left;
}

/** Navigation **/
ul.menu {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

ul.menu > li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav a {
  display: inline-block;
  margin-right: .5em;
}

/** Containers **/
.container {
  max-width: @med-width;
}

.container.small {
  max-width: @small-width;
}

.container.large {
  max-width: @large-width;
}

