/**** VARIABLES****/

/** Colors **/

/* reserved for greyscale */
@color-1: #101025;
@color-2: #333333;
@color-3: #666666;
@color-4: #888888;
@color-5: #AAAAAA;
@color-6: #CDCDCD;
@color-7: #FFFFFF;

/* reserved for branding */
@color-8 : #257AFF;
@color-9 : #000022;
@color-10: #FFCC22;

/* decriptive colors */
@err-color : #FF0022;
@info-color: #22AA55;

/** Page Dimensions **/
@footer-height: 250px;

/* widths. do not confuse with breakpoints */
@small-width: 360px;
@med-width  : 968px;
@large-width: 1100px;
