/* TODO: move this under a custom Modal class of ReactComponent */
div.modal {
  .trans-position;  
  position: fixed;
  left: 150%;
  top: 20%;
  width: 300px; 
  background-color: @color-1;
  padding: 10px;
  text-align: center;
  z-index: 9999;
  .gui-frame;
}

div.modal > .button {
  display: inline-block;
  margin-right: 15px;
}

/* left align ul's and second level paragraphs*/
div.modal ul, div.modal > p > p {
  text-align: left;
}

div.modal.loaded {
  left: 50%;
  margin-left: -155px;
  display: block;
}

div.modal.finished {
  left: -50%;
}

