mixin paginator(list, base_url, query)

  div.full.pagination

    - prev_page = Object.assign({}, query);

    - prev_page.page = +(query.page) > 0 ? +(query.page) - 1: 0;

    if query.page > 0
      a.button.prev(
        href=site_root + base_url + '?' + querystring.stringify(prev_page)
      ) Prev.

    //- if the list we are paginating has records, allow the 'next' button
    if list.length
      - next_page = Object.assign({}, query);
      - next_page.page = +(query.page) < max_page ? +(query.page) + 1: 0;
      a.button.next(
        href=site_root + base_url + '?' + querystring.stringify(next_page)
      ) Next
