extends ../layouts/page.pug
block content
  div.container
    h2 Whoops! We can't find that page
    p
      | Leverage agile frameworks to provide a robust synopsis for high level
      | overviews. Iterative approaches to corporate strategy foster collaborative
      | thinking to further the overall value proposition. Organically grow the
      | holistic world view of disruptive innovation via workplace diversity and 
      |empowerment.
